<div class="label label-secondary cv-infopiece cv-view-viewinfo-extra"
     style="color: black; background-color: #ffcc99;">
                        <span style="max-width: 350px;"><i class="fa fa-fw fa-balance-scale"
                                                           title="History dimension"></i> <b
                                class="hidden-xs hidden-sm">Compare dimension:</b> {{ (view.params.zaxis != null) ? view.cube.dimensionParts(view.params.zaxis).labelShort : "None" }}</span>
    <button type="button" class="btn btn-info btn-xs"
            style="visibility: hidden; margin-left: -20px;"><i class="fa fa-fw fa-info"></i>
    </button>

    <button ng-hide="view.getControlsHidden() || !view.params.zaxis || view.cube.dimensionParts(view.params.zaxis).hierarchy.levels.length < 2"
            ng-disabled="! view.cube.dimensionParts(view.params.zaxis).drilldownDimensionMinus"
            type="button"
            ng-click="selectZAxis(view.cube.dimensionParts(view.params.zaxis).drilldownDimensionMinus, true)"
            class="btn btn-secondary btn-xs hidden-print" style="margin-left: 3px;"><i
            class="fa fa-fw fa-minus"></i></button>
    <button ng-hide="view.getControlsHidden() || !view.params.zaxis || view.cube.dimensionParts(view.params.zaxis).hierarchy.levels.length < 2"
            ng-disabled="! view.cube.dimensionParts(view.params.zaxis).drilldownDimensionPlus"
            type="button"
            ng-click="selectZAxis(view.cube.dimensionParts(view.params.zaxis).drilldownDimensionPlus, true)"
            class="btn btn-secondary btn-xs hidden-print" style="margin-left: 0px;"><i
            class="fa fa-fw fa-plus"></i></button>
</div>

<div ng-if="view.zaxis_compare"
     class="label label-secondary cv-infopiece cv-view-viewinfo-extra"
     style="color: black; background-color: #ffcc99;">
                        <span style="max-width: 350px;"><i class="fa fa-fw fa-balance-scale"
                                                           title="Compare"></i> <b
                                class="hidden-xs hidden-sm">Compare:</b> {{ view.zaxis_compare }}</span>
</div>

<div>
    <div ng-if="view.params.widgettype == 'threshold'"
         class="label label-secondary cv-infopiece cv-view-viewinfo-cut text-left"
         style="color: black; background-color: #ffdddd; text-align: left;">
        <span style="white-space: nowrap;"><i class="fa fa-fw fa-text-width"></i> <b
                class="hidden-xs hidden-sm">Threshold:</b> <input type="number"
                                                                  ng-model="view.params.widget.threshold"
                                                                  style="width: 4em;"></span>
    </div>

    <div ng-if="view.params.widgettype == 'movement'"
         class="label label-secondary cv-infopiece cv-view-viewinfo-cut text-left"
         style="color: black; background-color: #ffdddd; text-align: left;">
        <span style="white-space: nowrap;"><i class="fa fa-fw fa-map-signs"></i> <b
                class="hidden-xs hidden-sm">Min. change:</b> <input type="number"
                                                                  ng-model="view.params.widget.movement"
                                                                  style="width: 4em;" step="0.1" min="0"></span>
    </div>
</div>