<div class="container-fluid">
    <div ng-style="{'font-size': view.params.widget.zoom + '%'}">
        <div ng-repeat="serie in series" class="row" style="margin-top: 1em;">
            <div class="col-sm-12"><h3 style="color: #337ab7;">{{ ::serie['key'] }}</h3></div>
            <div ng-repeat="point in serie['values']" class="col-xs-6"
                 ng-if="compareThreshold(point['y'])"
                 ng-class="(cvOptions.studioTwoColumn ? 'col-md-6 col-sm-6' : 'col-md-3 col-sm-3')"
                 ng-init="chevron = point['diff'] > 0 ? 'fa-chevron-up' : 'fa-chevron-down'">
                <span style="font-size: 200%">{{ :: point['x'] }}</span>
                <span style="font-size: 150%; opacity: .7;">({{ ::point['y'] }}<span ng-if="point['diff'] != 0">
                <span ng-class="{'text-success': point['diff'] > 0, 'text-danger': point['diff'] < 0}"><i
                        ng-class="chevron" class="fa fa-fw"></i>{{ ::diff_abs(point['diff']) }}%</span></span>)</span>
            </div>
        </div>
    </div>
</div>