<div ng-controller="CubesViewerWidgetController">
    <div ng-if="view.params.widgettype == 'max-value'">

        <div ng-if="view.pendingRequests > 0" class="loadingbar-content">
            <span class="loadingbar-expand"></span>
        </div>
        <div ng-controller="CubesViewerWidgetMaxValueController">
            <div ng-include="'views/cube/widget/max-value.html'"></div>
        </div>
    </div>

    <div ng-if="view.params.widgettype == 'threshold'">

        <div ng-if="view.pendingRequests > 0" class="loadingbar-content">
            <span class="loadingbar-expand"></span>
        </div>
        <div ng-controller="CubesViewerWidgetThresholdController">
            <div ng-include="'views/cube/widget/threshold.html'"></div>
        </div>
    </div>

    <div ng-if="view.params.widgettype == 'movement'">

        <div ng-if="view.pendingRequests > 0" class="loadingbar-content">
            <span class="loadingbar-expand"></span>
        </div>
        <div ng-controller="CubesViewerWidgetMovementController">
            <div ng-include="'views/cube/widget/movement.html'"></div>
        </div>
    </div>

    <div ng-if="view.params.zaxis == null" class="alert alert-info" style="margin-bottom: 0px;">
        <p>
            Cannot present widget: no <b>Compare dimension</b> has been selected.
        </p>
        <p>
            Tip: use the <kbd><i class="fa fa-fw fa-cogs"></i> View &gt; <i class="fa fa-fw fa-balance-scale"></i>
            Compare dimension</kbd> menu.
        </p>
    </div>
</div>