<li class="dropdown-submenu" ng-repeat="view in views">
    <a ng-if="view.submenu"
          style="max-width: 360px; overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap;"><i
            class="fa fa-fw"></i> {{ view.name }}</a>
    <a ng-if="view.data && view.shared && view.owner != cvOptions.user"
       ng-click="reststoreService.addSavedView(view.id)"
       style="max-width: 360px; overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap;"><i
            class="fa fa-fw"></i> {{ view.name }}</a>
    <ul class="dropdown-menu submenu" ng-if="view.submenu">
        <menutree views="view.submenu"></menutree>
        <li ng-repeat="view in view.views"><a
                style="max-width: 360px; overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap;"
                ng-click="reststoreService.addSavedView(view.id)"><i
                class="fa fa-fw"></i> {{ view.name }}</a></li>
    </ul>
</li>